input#tos_check(type="checkbox")
span#accept_tos(for="tos_check") &nbsp;By typing your full name above, you authorize QualityMedia to bill your credit card as stated in the 
  a.tos_link(href="#agreement") agreement
  \.
