.ct5 span.img{display:inline-block; width:100px; text-align:center;}
.ct5 span.img img{margin:0 !important;}
#footer .info{margin-right: 25px !Important;}
#slides .slide-text {right:55px !important;}
.ct5 .ct-dtl .boxed .box-ct{padding-bottom:45px;}